<div class="wrapper">
  <h2><%= "#{@team_member.fullname}'s Initiative" %></h2>
  <div class="card">
    <h3 class="init-name"><%= @initiative.title %></h3>
    <p class="init-description"><%= simple_format(@initiative.description) %></p>
    <div>
      <div class="init-footer w-row">
        <div class="w-col w-col-2 padding-zero"><%= image_tag "icon-#{@initiative.completion ? 'completion': 'calendar'}.svg", class: "icon-target" %></div>
        <div class="card-date w-col w-col-10">
          <%= @initiative.target_date.to_s(:long_ordinal) unless @initiative.target_date.nil? %>
        </div>
        <%
=begin%>
 <div class="w-col w-col-2 padding-zero">
          <%= link_to new_user_initiative_note_path(@team_member, @initiative), :class => "no-link" do %>
            <%= image_tag "icon-note.svg" %>
          <% end %>
        </div> 
<%
=end%>
      </div>
      <hr>
      <div>
        <%= render @initiative.notes.order('created_at DESC') %>
        <%= render partial: 'notes/form' %>
      </div>
    </div>
  </div>
</div>
