<div class="wrapper">
  <div class="add-user-btn">
    <%= link_to 'Add User', new_user_path, class: 'btn-primary w-button' %>
  </div>
  <h2>Users</h2>
  <div class="init-list">
  <% @users.each do |user| %>
    <div class="card">
      <h3 class="init-fullname"><%= user.fullname %></h3>
      <p class="init-email"><%= user.email %></p>
      <% if user.is_admin == true %>
         <p class="init-is-admin">Admin</p>
      <% end %>
      <% if user.team_leader_id != nil and user.is_admin != true %>
        <p class="init-team-leader">Team Leader</p>
      <% elsif user.team_leader_id == nil and user.is_admin != true %>
        <p class="init-team-leader">Team Member</p>
      <% end %>
      <div class="w-col w-col-2 padding-zero">
        <%= link_to user_path(user), method: :delete, data: { confirm: "Are you sure you would like to delete User: #{user.fullname}" }, :class => "no-link", :id => "delete-user-#{user.id}"  do %>
          <%= image_tag "icon-delete.svg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
