<div class="wrapper">
<div class='card full-width login-style'>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <%= f.label :email, 'Email', class: 'form-field-label' %>
  <%= f.text_field :email, placeholder: 'Enter email here', class: 'form-field w-input' %>

  <%= f.label :password, 'Password', class: 'form-field-label' %>
  <%= f.text_field :password, placeholder: 'Enter password here', class: 'form-field w-input' %>  

    <%= f.submit "Log in", class: 'btn-primary w-button' %>
<% end %>

</div>
</div>
