<!DOCTYPE html>
<html>
  <head>
  <title>Initiative Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper-bg-white-block">
      <% if user_signed_in? %>
      <div class="nav-link">
        <% if current_user.is_admin? %>
          <%= link_to "User List", users_path, class: "nav-buttons  no-link #{request.original_url.include?(users_path) ? "currentLink":""} " %>
        <% end %>
        <%= link_to "My Initiatives", root_path, class: "nav-buttons no-link  #{request.original_url.include?(root_path) ? "currentLink":""}" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-buttons no-link" %>
      </div>
      <% end %>
      <div class="zeal-img">
        <%= image_tag("logo-p-130x130q80.png") %>
      </div>
    </div>
    <div class="wrapper">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    </div> 
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
