<!DOCTYPE html>
<html>
  <head>
    <title>Initiative Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper-bg-white-block">
        <div class="nav-link">
          <% if current_user.is_admin? %>
            <%= link_to "User List", users_path, class: "nav-btn #{"nav-btn-color" if controller_name == 'users'}" %>
            <% elsif current_user.team_members.present? %>
            <%= link_to "Team", team_path, class: "nav-btn #{"nav-btn-color" if controller_name == 'users'}" %>
          <% end %>
            <%= link_to "Initiatives", root_path, class: "nav-btn #{"nav-btn-color" if controller_name == 'initiatives'} " %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-btn" %>
        </div>
        <div class="logo-style">
          <%= image_tag("logo-p-130x130q80.png") %>
        </div>
    </div>

    <div class="wrapper">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
