<!DOCTYPE html>
<html>
  <head>
  <title>Initiative Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper-bg-white-block">
      <% if user_signed_in? %>
      <div class="nav-link">
        <%= link_to "User List", users_path, class: "no-link" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "no-link" %>
      </div>
      <div class="logo-style">
        <%= image_tag("logo.png") %>
      </div>
    </div>

  <div class="wrapper">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
  <%= yield %>
  </body>
</html>
